$def with (form, username)

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Edit User</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <style type="text/css">
    h2 {
        font-size: 1em;
        margin: 0;
    }
    #admin {
        text-align: left;
    }
    #admin ul {
        margin: 10px 0 0 20px;
        padding: 0;
    }
    #admin ul li {
        display: inline;
        padding: 0 10px 0 0;
    }
    table {
        border: 0px solid #000;
        text-align: left;
    }
    </style>
    <script type="text/javascript" src="/static/days.js"></script>
</head>
<body onload="getDays()">
$:render.head()
    <div id="content">
        <h1>Edit User</h1>
        <form method="post" action="">
            <table>
                <tr>
                    <th>Username:</th>
                    <td>$username</td>
                </tr>
                <tr>
                    <th><label for="$form.credits.name">$:form.credits.description</label></th>
                    <td>$:form.credits.render()</td>
                </tr>
                <tr>
                    <th><label>Expiration:</label></th>
                    <td>
                        $:form.month.render()
                        $:form.day.render()
                        $:form.year.render()
                    </td>
                </tr>
            </table>
            <p><input type="submit" value="Save" /></p>
        </form>
    </div>

</body>
</html>
