$def with (error)

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

</html>
<head>
    $if error=="userL" or error=="adminL":
        <title>403 - Forbidden</title>
    <style type="text/css">
        #error {
            text-align: center;
            font-family: Arial;
            font-size: 2em;
        }
        #error a {
            font-size: 1em;
            color: blue;
            text-decoration: none;
        }
        #error a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <div id="error">        
    $if error=="userL" or error=="adminL":
        <h1>403 - Forbidden</h1>
    $if error=="userL":
        <h2>Would you like to login? <a href="$ctx.home/login">Login</a></h2>
    $elif error=="adminL":
        <h2 style="color: red;"><b>Unauthorized.</b> You must be an Administrator!</h2>
    </div>
</body>
</html>
