$def with ()

$code:
    if session.usertype == 'user':
        y,m,d=session.exprdate.split(' ')[0].split('-')
        exp=m+'/'+d+'/'+y

<div id="head">
    <span style="position: absolute; right: 5px;">
        <a href="$ctx.home/password">Change Password</a>&nbsp;&nbsp;-&nbsp;
        <a href="$ctx.home/logout">Logout</a>
    </span>
    <span><b>User:</b> $session.username </span>&nbsp;-&nbsp;
    $if session.usertype == 'admin':
        <span><a href="$ctx.home/admin"><b>Administrator</b></a></span>&nbsp;-&nbsp;
        <span><a href="$ctx.home/upload">Upload</a></span>
    $else:
        <span><b>Credits:</b> $session.credits </span>&nbsp;-&nbsp;
        <span><b>Experation Date:</b> $exp</span>
</div>
